*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", sans-serif;
    color: #FAFAFA;
    background-color: #0d0d0d;
}
header{
    height: 350px;
    background-color: #121212d9;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 67px;
    position: fixed;
    background-color: #121212c2;
}
#container{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    margin-top: 15px;
}
#sobre-site{
    margin-top: 20px;
    text-align: center;
}
#esquerda{
    margin-left: 150px;
}
#direita{
    margin-right: 150px;
}
a{
    text-decoration: none;
    color: #FAFAFA;
}
ul{
    display: flex;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.links{
    width: 100px;
    height: 40px;
    margin: 0px 15px 0px 15px;
}
.links:hover{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #0d0d0d;
}
#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    background-color: #ffffff14;
}
#contato:hover{
    background-color: #0d0d0d;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
.categoria{
    margin: 30px 0px 30px 150px;
}
.projetos{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 15px;
}
.project{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 100px 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid 1px #444444;
}
.img-project{
    border-radius: 10px;
}
.title-projeto{

}
.sobre-projeto{

}
footer{
    width: 100%;
    height: 200px;
    background-color: #121212d9;
}
@media (max-width: 390px) {
    header{
        width: 390px;
        height: 350px;
    }
    nav{
        width: 390px;
    }
    .projetos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .project{
        display: flex;
        flex-direction: column;
        padding: 60px 20px 100px 20px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 10px;
        /* background-color: #121212; */
        border: solid 1px #444444;
    }
    .categoria{
        margin: 30px 0px 30px 0px;
    }
    #container{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #title{
        margin-top: 15px;
    }
    #sobre-site{
        margin-top: 20px;
        text-align: center;

    }
}
@media (max-width: 768px) {
    header{
        height: 350px;
    }
    .projetos{
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;

    }
    .categoria{
        margin: 30px 0px 30px 78px;
}
}
